@page
@model Event.Pages.error._404Model
@{
    ViewData["title"] = "پیدا نشد";
}


<div class="container" style="text-align: center;  color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">پیدا نشد</p>
    <p>متاسفانه مطلبی که مد نظر شماست پیدا نشد</p>
</div>