/* _content/Event/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-80cezw7yae] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
main[b-80cezw7yae] {
    min-height: 80vh !important;
}

a[b-80cezw7yae] {
    color: #0077cc;
}

.btn-primary[b-80cezw7yae] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-80cezw7yae], .nav-pills .show > .nav-link[b-80cezw7yae] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-80cezw7yae] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-80cezw7yae] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-80cezw7yae] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-80cezw7yae] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-80cezw7yae] {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 15px;
    margin-bottom: -3em;
    margin-top: 2.5em !important;
    box-shadow: 0px -15px 12px -5px rgb(36 121 119 / 28%);
}
.footer-bg[b-80cezw7yae] {
        background-size: 10em;
        background-color: #0c7371;
        border-radius: 1em 1em;
        margin-top:-3em;
    }
.eslimi-bg[b-80cezw7yae] {
    background-image: url('../Assets/eslimi.png');
}
