@page
@model LockoutModel
@{
    ViewData["Title"] = "اکانت شما قفل شد";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">این اکانت قفل شد لطفا بعدا مجددا سعی کنید.</p>
</header>
