@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تغییر رمز انجام شد";
}

<h1>@ViewData["Title"]</h1>
<p>
    رمز عبور شما بازیابی شد برای <a asp-page="./Login">ورود کلیک کنید</a>. 
</p>
