@page
@model Event.Pages.challengesModel
@{
}
<div class="container">
        <div class="col-12">
    <center style="max-width: 24em;margin: auto;overflow: hidden;padding: 10px;">
        <div class="tdbox">
  <h3>
    چالش ها
    </h3>
    </div>
    </center>
    </div>
    <div class="col-10 col-sm-8 col-md-7 mx-auto">
        <figure style="margin:0px !important;">
            <a href="~/Assets/img/big (0).jpg" data-toggle="lightbox">
            <img src="~/Assets/img/0-min.jpg" alt="پوستر اصلی رویداد" style="border-radius:15px;overflow:hidden;width:100%;height:auto">
            </a>
            <figcaption style="display:none;">
                پوستر رویداد
            </figcaption>
        </figure>
    </div>

    <div class="row">
	<a href="~/Assets/img/big (1).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" data-size="fullscreen" class="col-sm-4">
		<img src="~/Assets/img/1-min.jpg" class="img-fluid">
	</a>
	<a href="~/Assets/img/big (2).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" class="col-sm-4">
		<img src="~/Assets/img/2-min.jpg" class="img-fluid">
	</a>
	<a href="~/Assets/img/big (3).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" class="col-sm-4">
		<img src="~/Assets/img/3-min.jpg" class="img-fluid">
	</a>
</div>
<div class="row">
	<a href="~/Assets/img/big (4).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" class="col-sm-4">
		<img src="~/Assets/img/4-min.jpg" class="img-fluid">
	</a>
	<a href="~/Assets/img/big (5).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" class="col-sm-4">
		<img src="~/Assets/img/5-min.jpg" class="img-fluid">
	</a>
	<a href="~/Assets/img/big (6).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" class="col-sm-4">
		<img src="~/Assets/img/6-min.jpg" class="img-fluid">
	</a>
</div>
<div class="row">
	<a href="~/Assets/img/big (7).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" class="col-sm-4">
		<img src="~/Assets/img/7-min.jpg" class="img-fluid">
	</a>
	<a href="~/Assets/img/big (8).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" class="col-sm-4">
		<img src="~/Assets/img/8-min.jpg" class="img-fluid">
	</a>
	<a href="~/Assets/img/big (9).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" class="col-sm-4">
		<img src="~/Assets/img/9-min.jpg" class="img-fluid">
	</a>
</div>

    </div>