@page
@model Event.Pages.eventsModel
@{
    ViewData["Title"] = " رویدادهای برگذار شده";
    var message = ViewData["message"]?.ToString();
}
@section Styles {
    <link rel="stylesheet" href="~/css/event-page.css" asp-append-version="true" />
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <div class="timeline-content">
                        @*<div class="timeline-icon"><i class="fa fa-globe"></i></div>
*@                        <h3 class="title">رویداد صنایع خلاق و فرهنگی استان سمنان</h3>
                        <div class="description">
                            <div id="88778780137"><script type="text/JavaScript" src="https://www.aparat.com/embed/T4doy?data[rnddiv]=88778780137&data[responsive]=yes"></script></div>
                            <p>
                                این رویداد روز سه‌شنبه ۱۴م تیر ۱۴۰۱ با همکاری پارک علم و فناوری و اداره‌کل میراث فرهنگی استان و با حضور شرکت‌ها، سرمایه‌گذاران، شتاب‌دهنده‌ها و خانه‌های خلاق کشوری فعال در این حوزه، در محل پارک استان برگزار شد.
دکتر کرم‌زاده، مدیر کل میراث فرهنگی استان، مهندس احمدی شهردار شاهرود و مهندس صادقی، معاون هماهنگی امور اقتصادی استانداری سمنان از جمله مهمانان در این مراسم بودند.
دکتر نظری، رییس پارک استان در آغاز این مراسم به اهمیت زیست بوم فناوری های نرم، جایگاه آن در ایجاد اشتغال پایدار و گردش مالی بالای این حوزه اشاره کرد. وی افزود صنایع خلاق دربرگیرنده بخش‌های مختلفی نظیر صنایع دستی، گردشگری، تولید محتوا، سرگرمی، سینما و ..‌. می‌شود که ظرفیت بالایی در کشور ما داشته و توجه به آن حائز اهمیت است.
در این رویداد چندین شرکت خلاق از سراسر استان طرح‌ها و محصولات خود را ارایه و نزدیک به ۶۰ نشست B2B با سرمایه‌گذاران صورت گرفت.
نمایشگاه صنایع خلاق یکی بخش‌های مهم این رویداد بزرگ بود.
                            </p>
                        </div>
                        <div class="timeline-year">صنایع خلاق</div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        @*<div class="timeline-icon"><i class="fa fa-rocket"></i></div>*@
                        <h3 class="title">رویداد ملی پسته‌شو استان سمنان</h3>
                        <div class="description">
                          <div id="77768435338"><script type="text/JavaScript" src="https://www.aparat.com/embed/T4doy?data[rnddiv]=77768435338&data[responsive]=yes"></script></div>
                          <p>
                              رویداد ملی پسته شو برای نخستین بار در استان سمنان، توسط پارک علم و فناوری استان برگزار شد. به گفته‌ی دکتر محسن نظری، رییس پارک علم و فناوری استان سمنان، این رویداد با توجه به وجود ظرفیت‌های مناسب حوزه کشاورزی در استان و به طور خاص محصول استراتژیک پسته در شهرستان دامغان و همچنین نظر به اهمیت نفوذ فناوری‌های نو در تولید و فرآوری پسته به منظور رشد اقتصادی این حوزه، برگزار شد. در این رویداد که تاریخ 10 آبان 1401 به میزبانی دانشگاه آزاد دامغان برگزار گردید، شرکت‌های دانش‌بنیان و واحدهای فناور فعال در حوزه‌های مختلف کشاورزی به ویژه در زمینه‌های مرتبط با تولید و فرآوری پسته، گرد هم آمدند. ارائه محصولات جدید و دانش‌بنیان، برگزاری نشست‌های B2B شرکت‌ها و واحدهای فناور با کشت و صنعت‌های ایران و ارائه چالش‌های فناورانه حوزه پسته از محورهای این رویداد بود. در این رویداد ملی بیش از ۵۰ طرح از سوی صاحبان ایده و فناوران از نقاط مختلف کشور ارایه شد. همچنین در بخش پایانی این رویداد، نمایشگاهی از محصولات شرکت‌های فناور فعال در حوزه کشاورزی پسته دایر و محصولات و دستاوردهای این شرکت‌ها به بازدیدکنندگان ارایه گردید.
                          </p>
                        </div>
                        <div class="timeline-year">پسته شو</div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        @*<div class="timeline-icon"><i class="fa fa-rocket"></i></div>*@
                        <h3 class="title">معرفی پارک علم و فناوری استان سمنان</h3>
                        <div class="description">
                          <div id="31142004527"><script type="text/JavaScript" src="https://www.aparat.com/embed/H9vnj?data[rnddiv]=31142004527&data[responsive]=yes"></script></div>
                          <p>
                              معرفی مختصر پارک علم و فناوری استان سمنان، مراکز و برخی از اقدامات و خدمات آن
                          </p>
                        </div>
                        <div class="timeline-year" style="left: -16px !important;">معرفی</div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        @*<div class="timeline-icon"><i class="fa fa-rocket"></i></div>*@
                        <h3 class="title">برگزاری رویداد توسعه اکوسیستم نوآوری(تانا)</h3>
                        <div class="description">
                          <div id="58948963075"><script type="text/JavaScript" src="https://www.aparat.com/embed/0hIlU?data[rnddiv]=58948963075&data[responsive]=yes"></script></div>
                          <p>
                             تانا یا «رویداد توسعه اکوسیستم نوآوری استان‌» بستری مناسب برای توسعه زیست بوم فناروی و نوآوری هر استان فراهم می‌آورد.
در این رویداد، از یک طرف، نیازها و چالش‌های فناورانه سازمان‌ها و صنایع استان و از طرف دیگر ظرفیت‌های فناورانه شرکت‌های فناور و دانش‌بنیان شناسایی می‌شود. در تانا نیازمندی‌های فناورانه استان، هم در بخش صنعتی و هم در دستگاه‌های اجرایی احصا شده و برای رفع این نیازها، ظرفیت محققان، صاحبان ایده، فناوران و شرکت‌های دانش‌بنیان بکار گرفته می‌شود. به این ترتیب، زمینه برای انعقاد قرارداد میان بخش عرضه (محققان و شرکت‌های دانش‌بنیان) و بخش تقاضا (صنایع و دستگاههای اجرایی) فراهم می‌شود. اشخاص حقیقی و حقوقی، فناوران و صاحبان ایده از جمله دانشجویان، اساتید دانشگاه، شرکت‌های دانش‌بنیان، صاحبان صنایع و شرکت‌های تولیدی می‌توانند در این رویداد بزرگ شرکت کنند. پارک استان سمنان از برگزیدگان رویداد در جهت رفع نیازهای استان حمایت و پشتیبانی خواهد کرد. تعداد 124 چالش از ارگان‌ها، سازمان‌ها و صنایع استان احصا شده که در روز رویداد، امکان مذاکره، عقد تفاهم و در نهایت انعقاد قرارداد با سمت تقاضا فراهم و مورد حمایت خواهد بود.
این رویداد 30 شهریور 1401 در پارک علم و فناوری استان سمنان برگزار شد.
                          </p>
                        </div>
                        <div class="timeline-year">رویداد تانا</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>