@page
@model IndexModel
@{
    ViewData["Title"] = " پارک علم و فناوری استان سمنان";
    var message = ViewData["message"]?.ToString();
}
@section Styles {
    <style>
    .row.opacity-50 > div.col {
        -webkit-box-shadow: #ccdbe8 3px 3px 7px 0 inset, rgba(255,255,255,1) -3px -3px 6px 5px inset;
    box-shadow: #ccdbe8 3px 3px 7px 0 inset, rgba(255,255,255,1) -3px -3px 6px 5px inset;
    border-radius: 20px;
    background: #fff;
    padding-top: 0.5em;
    padding-bottom: 0.3em;}
    </style>
     <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    
}
<div class="row mb-5 opacity-50">
    <div class="col">
        <img class="img-fluid" src="~/Assets/logos/sponser-logo-1.png"/>
    </div>
    <div class="col">
        <img class="img-fluid" src="~/Assets/logos/sponser-logo-2.png" />
    </div>
    <div class="col">
        <img class="img-fluid" src="~/Assets/logos/sponser-logo-3.png" />
    </div>
    <div class="col">
        <img class="img-fluid" src="~/Assets/logos/sponser-logo-4.png" />
    </div>
    <div class="col">
        <img class="img-fluid" src="~/Assets/logos/sponser-logo-5.png" />
    </div>
    <div class="col">
        <img class="img-fluid" src="~/Assets/logos/sponser-logo-7.png" />
    </div>
    <div class="col">
        <img class="img-fluid" src="~/Assets/logos/sponser-logo-8.png" />
    </div>
    </div>
<div class="col-12" style="position: absolute;width: 100%;top: 15em !important;right: 0px;z-index: -2;">
        <lottie-player src="/Assets/iran-travel.json" background="transparent" speed="1" style="width: 100%; height: auto" loop autoplay direction="1" mode="normal"></lottie-player>
    </div>
<div class="text-center mt-3">
    <h1 class="display-4 threed">پارک علم وفناوری استان سمنان</h1>
    </div>

    <div class="col-12 text-center">
      
    <div class="main-example pt-5" dir="ltr">
<div class="countdown-container" data-timer="2023/12/06 10:00:00" id="main-example"></div>
<script type="text/template" id="main-example-template">
<div class="time <%= label %>">
  <span class="count curr top"><%= curr %></span>
  <span class="count next top"><%= next %></span>
  <span class="count next bottom"><%= next %></span>
  <span class="count curr bottom"><%= curr %></span>
  <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
</div>
</script>
</div>



    </div>

  <div class="text-center">
      <h3 class="display-8 lh-lg pt-3" style="color:#0c706e;text-shadow: 0px 3px 6px #0c706e;">رویداد بزرگ حل نیازهای فناورانه حوزه گردشگری با رویکرد فناوری های نوین</h3>
    </div>
    


    <div class="col-12 text-center" style="margin-bottom:-4%">
    <img src="~/Assets/turism_event3.png" width="85%"/>
    </div>
    <div class="col-12 gradient-bg p-3 pt-5 border-rd-2 text-white d-flex flex-column" style="max-height:22em;">
        <br />
        <p class="pt-6 overflow-auto" style="line-height: 260%;overflow-x: hidden;">
            صنعت گردشگری از دیرباز تاکنون در حال توسعه و پیشرفت در زمینه های گوناگون بوده است و در پی این امر، اقتصاد جوامع، مبتنی بر پایه های گردشگری افزایش یافته است. کشور ایران نیز به عنوان یک کشور در حال توسعه با برخورداری از پتانسیل محیطی بالا و با داشتن پشتوانه تمدن، تاریخ و فرهنگی چند هزار ساله، از قابلیت ویژه ای برای توسعه صنعت گردشگری برخوردار است. مفهوم گردشگری هوشمند تلفیقی از فناوری اطلاعات و ارتباطات با صنعت گردشگری برای پاسخگویی به نیازها و خواسته های فردی گردشگران قبل، حین و بعد از سفر است که میتواند، سطح رقابت پذیری مقصدها را افزایش دهد.گردشگری هوشمند، بهبود کارایی مدیریت منابع، به حداکثر رساندن رقابت و افزایش پایداری از طریق استفاده از نوآوری ها و روش های فناور است.
پارک علم و فناوری استان سمنان به عنوان یکی از پارک‌های توسعه یافته کشور با توجه به موقعیت ممتاز استان سمنان در حوزه گردشگری، وجود اماکن تاریخی و مذهبی و دارا بودن جاذبه های اقلیمی و طبیعی ویژه، در راستای رسالت خود و لزوم حمایت و توسعه کسب و کارهای خلاقانه و نوآورانه حوزه گردشگری و همچنین سرمایه گذاری و تجاری سازی در این حوزه، با همکاری اداره کل میراث فرهنگی، گردشگری و صنایع دستی استان سمنان، شهرداری ها و مجموعه های سرمایه گذاری، اقدام به برگزاری « رویداد ملی حل نیازهای فناورانه گردشگری با رویکرد فناوری های نوین » در آذر ماه 1402 در محل پارک علم و فناوری استان سمنان نموده است. 

        </p>
    </div>
     
     <div class="container">
            <div class="news">
                <div class="swiper-container swiper--news">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><p>حمایت از شکل‌گیری استارتاپ‌ها در حوزه‌های اولویت دار و کمک به رشد و بزرگ شدن آنها</p></div>
        <div class="swiper-slide"><p>شبکه‌سازی در حوزه های مذکور</p></div>
        <div class="swiper-slide"><p>شناسایی و کمک به توانمندسازی کسب‌وکارهای نوپا</p></div>
       <div class="swiper-slide"><p>کمک به توسعه بازار محصولات دانش ‌بنیان</p></div>
        <div class="swiper-slide"><p>ایجاد بستر مناسب به منظور بحث و تبادل نظر صاحبان کسب‌وکار و معرفی راهکارهای خلاقانه جهت توسعه بازار</p></div>
      <div class="swiper-slide"><p>ارایه توانمندی‌های شرکت‌های دانش‌بنیان و بهره‌مندی از ظرفیت آن‌ها در حوزه گردشگری و فناوری اطلاعات</p></div>
      <div class="swiper-slide"><p>حمایت از شرکت های دانش بنیان و خلاق</p></div>
      <div class="swiper-slide"><p>جذب سرمایه گذار</p></div>
    </div>
  </div>
            </div>

    </div>

    <div class="container">
        <div class="col-12">
    <center style="max-width: 24em;margin: auto;overflow: hidden;padding: 10px;">
        <div class="tdbox">
  <h3>
    چالش ها
    </h3>
    </div>
    </center>
    </div>
    <div class="col-10 col-sm-8 col-md-7 mx-auto">
        <figure style="margin:0px !important;">
            <a href="~/Assets/img/big (0).jpg" data-toggle="lightbox">
            <img src="~/Assets/img/0-min.jpg" alt="پوستر اصلی رویداد" style="border-radius:15px;overflow:hidden;width:100%;height:auto">
            </a>
            <figcaption style="display:none;">
                پوستر رویداد
            </figcaption>
        </figure>
    </div>
    <div class="col-12">
        <div class="container swiper">
      <div class="challenges-slider slide-container" dir="ltr">
        <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
            <div class="image-box">
                <a href="~/Assets/img/big (0).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" data-caption="پوستر رویداد">
              <img src="~/Assets/img/0.png" alt="پوستر رویداد" />
              </a>
            </div>
            <div class="profile-details">
                پوستر رویداد
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
                <a href="~/Assets/img/big (1).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" data-caption="واقعیت افزوده">
              <img src="~/Assets/img/1-min.jpg" alt="واقعیت افزوده" />
              </a>
            </div>
            <div class="profile-details">
                واقعیت افزوده
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
                <a href="~/Assets/img/big (2).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" data-caption="راهنمای صوتی گردشگر">
              <img src="~/Assets/img/2-min.jpg" alt="راهنمای صوتی گردشگر" /></a>
            </div>
            <div class="profile-details">
                راهنمای صوتی گردشگر
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
                <a href="~/Assets/img/big (3).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" data-caption="تصاویر 360 درجه">
              <img src="~/Assets/img/3-min.jpg" alt="تصاویر 360درجه" /></a>
            </div>
            <div class="profile-details">
              تصاویر 360درجه
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
                <a href="~/Assets/img/big (4).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" data-caption="سفرهای بومی و محلی">
               <img src="~/Assets/img/4-min.jpg" alt="سفرهای بومی و محلی" /></a>
            </div>
            <div class="profile-details">
                سفرهای بومی و محلی
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
                <a href="~/Assets/img/big (5).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" data-caption="اقامتگاه">
              <img src="~/Assets/img/5-min.jpg" alt="اقامتگاه" /></a>
            </div>
            <div class="profile-details">
                اقامتگاه
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
                <a href="~/Assets/img/big (6).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" data-caption="پویا نمایی">
              <img src="~/Assets/img/6-min.jpg" alt="پویا نمایی" /></a>
            </div>
            <div class="profile-details">
                پویا نمایی
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
                <a href="~/Assets/img/big (7).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" data-caption="واقعیت افزوده مجازی">
              <img src="~/Assets/img/7-min.jpg" alt="واقعیت مجازی" /></a>
            </div>
            <div class="profile-details">
                واقعیت مجازی
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
                <a href="~/Assets/img/big (8).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" data-caption="اینترنت اشیا در گردشگری و هتل داری">
              <img src="~/Assets/img/8-min.jpg" alt="اینترنت اشیا" /></a>
            </div>
            <div class="profile-details">
                اینترنت اشیا
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-box">
                <a href="~/Assets/img/big (9).jpg" data-toggle="lightbox" data-gallery="challenge-gallery" data-caption="راهنمای صوتی گردشگر مسافران و گردشگران">
              <img src="~/Assets/img/9-min.jpg" alt="راهنمای مسافران وگردشگران" /></a>
            </div>
            <div class="profile-details">
                راهنمای مسافران وگردشگران
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>
    </div>    
</div>

    <div class="container">
    <center style="max-width: 24em;margin: auto;overflow: hidden;padding: 10px;">
        <div class="tdbox">
  <h3>
    اینفوگرافی رویداد
    </h3>
    </div>
    </center>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><p>1</p></div>
          <div class="timeline-panel eslimi-bg" data-tilt data-tilt-perspective="1000">
            <div class="timeline-heading">
              <h4 class="timeline-title">ثبت نام در رویداد</h4>
              <p><small class="text-muted">پیش ثبت نام در رویداد</small></p>
            </div>
            <div class="timeline-body">
                <p>مهلت ارسال طرح به دبیرخانه رویداد 10 آبان 1402 می باشد</p>
              <p>با عضویت در این مرحله در رویداد شرکت داده خواهید شد</p>
              <p>می توانید به دوصورت گروهی و یا انفرادی در رویداد ثبت نام کنید</p>
                <a class="btn pulse-shadow" href="./register-idea/registering" alt="ثبت نام در رویداد">ثبت نام در رویداد</a>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><p>2</p></div>
          <div class="timeline-panel" data-tilt data-tilt-perspective="1000">
            <div class="timeline-heading">
              <h4 class="timeline-title">داوری طرح ها </h4>
            </div>
            <div class="timeline-body">
              <p>کلیه طرح های دریافتی پس از غربالگری اولیه، جهت ارایه در روز رویداد توسط تیم داوری مشخص می گردند</p>
               </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><p>3</p></div>
          <div class="timeline-panel" data-tilt data-tilt-perspective="1000">
            <div class="timeline-heading">
              <h4 class="timeline-title">سخنرانی کلیدی</h4>
            </div>
            <div class="timeline-body">
              <p>سخنرانی کلیدی در حوزه گردشگری، صنایع دستی و فناوری اطلاعات (اسامی سخنرانان به زودی اعلام خواهد شد)</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge"><p>4</p></div>
          <div class="timeline-panel" data-tilt data-tilt-perspective="1000">
            <div class="timeline-heading">
              <h4 class="timeline-title">کارگاه های آموزشی</h4>
            </div>
            <div class="timeline-body">
              <p>برگزاری ورکشــاپ هــا و کارگاه هــای کاربــردی و تخصصــی (به زودی عناوین اعلام خواهد شد)</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge"><p>5</p></div>
          <div class="timeline-panel" data-tilt data-tilt-perspective="1000">
            <div class="timeline-heading">
              <h4 class="timeline-title">تور گردشگری</h4>
            </div>
            <div class="timeline-body">
              <p>تور گردشگری نیمروزی با هدف آشنایی و شناسایی بهتر و موثرتر صنعت گردشگری استان</p>   
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge"><p>6</p></div>
          <div class="timeline-panel" data-tilt data-tilt-perspective="1000">
            <div class="timeline-heading">
              <h4 class="timeline-title">نمایشگاه تخصصی</h4>
            </div>
            <div class="timeline-body">
              <p>برگزاری نمایشگاه تخصصی حوزه خلاق، گردشگری و صنایع دستی</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><p>7</p></div>
          <div class="timeline-panel" data-tilt data-tilt-perspective="1000">
            <div class="timeline-heading">
              <h4 class="timeline-title">نشست های سرمایه گذاری</h4>
            </div>
            <div class="timeline-body">
              <p>سلسه نشست های B2B با حضور سرمایه گذاران تخصصی حوزه گردشگری</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge"><p>8</p></div>
          <div class="timeline-panel" data-tilt data-tilt-perspective="1000">
            <div class="timeline-heading">
              <h4 class="timeline-title">ریورس پیچ</h4>
            </div>
            <div class="timeline-body">
              <p>ارایه نیازهای فناورانه حوزه گردشگری و فناوری اطلاعات</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><p>9</p></div>
          <div class="timeline-panel" data-tilt data-tilt-perspective="1000">
            <div class="timeline-heading">
              <h4 class="timeline-title">پنل تخصصی</h4>
            </div>
            <div class="timeline-body">
              <p>پنل تخصصی گفتگو میان صاحبان نیاز و ارائه دهندگان طرح ها و ایده ها</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><p>10</p></div>
          <div class="timeline-panel" data-tilt data-tilt-perspective="1000">
            <div class="timeline-heading">
              <h4 class="timeline-title">اختتامیه</h4>
            </div>
            <div class="timeline-body">
              <p>پنل تخصصی گفتگو میان صاحبان نیاز و ارائه دهندگان طرح ها و ایده هاارائه طرح‌های برتر و اهدای جوایز</p>
            </div>
          </div>
        </li>
    </ul>
    <div class="container">
    <center style="max-width: 24em;margin: auto;overflow: hidden;padding: 10px;">
        <div class="tdbox">
  <h3>
    حمایت ها
    </h3>
    </div>
    </center>
    </div>
    <div class="col-12">
        <div class="row row-eq-height">
        <div class="col-md-6">
            <div class="card h-100 my-eslimi2">
              <div class="card-body">
                  <h5 class="card-title">حمایت های پارک علم و فناوری استان سمنان</h5>
                  <p class="card-text">برگزاری جلسات سرمایه گذاری با صنعتگران و صاحبان نیاز</p>
                    <p class="card-text">استقرار در مراکز پارک علم و فناوری استان سمنان</p>
                    <p class="card-text">ارایه خدمات ویژه مهارت افزایی و اعطای تسهیلات خاص در این زمینه برای ارتقای تخصصی تیم کاری توسعه دهنده ایده در راستای تکمیل محصول </p>
                    <p class="card-text"> ارایه خدمات ویژه مهارت‌افزایی و اعطای تسهیلات خاص در این زمینه برای ارتقای تخصصی تیم کاری توسعه دهنده ایده در راستای تکمیل محصول </p>
                    <p class="card-text">فراهم کردن امکان حضور در نمایشگاه های معتبر در صورت رسیدن به محصول اولیه (MVP)</p>
                    <p class="card-text"><small class="text-white">اداره کل پارک علم و فناوری استان سمنان</small></p>
               </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 my-eslimi2">
      <div class="card-body">
        <h5 class="card-title">حمایت های اداره میراث فرهنگی</h5>
        <p class="card-text">ارائه مجوز لازم جهت استفاده از محصولات توسعه داده شده در سطح استان با مدل های درآمدی مختلف</p>
        <p class="card-text">ترویج محصولات توسعه داده شده در سطح استان و کشور از طریق وزارت میراث فرهنگی و گردشگری</p>
        <p class="card-text">فراهم کردن بستری مناسب برای ارائه محصولات به مخاطبین و گردشگران </p>
        <p class="card-text"><small class="text-white">اداره کل میراث فرهنگی استان سمنان</small></p>
      </div>

</div>
        </div>
        </div>
    </div>

@section Scripts {
       
<script src="https://unpkg.com/tilt.js@1.2.1/dest/tilt.jquery.min.js"></script>
<script src="~/js/jquery.countdown.min.js"></script>
<script src="~/js/underscore-min.js"></script>
<script src="~/js/first-page.min.js"></script>

}
